{
    "env": {
        "jest": true
    },
    "extends": [
        "react-app",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "error",
        "semi": "error"
    },
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "detect"
        }
    }
}
